<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:created">
        <handler type="IndexStrategySandBox.LogItem, IndexStrategySandBox" method="ItemCreated"/>
      </event>
      <event name="item:saved">
        <handler type="IndexStrategySandBox.LogItem, IndexStrategySandBox" method="ItemSaved"/>
      </event>
      <event name="indexing:updateditem">
        <handler type="IndexStrategySandBox.LogItem, IndexStrategySandBox" method="ItemUpdated"/>
      </event>
    </events>
    <contentSearch>
      <indexUpdateStrategies>
        <twitterRebuild type="IndexStrategySandBox.TwitterUpdateStrategy, IndexStrategySandBox">
          <HashtagTrigger>sitecorehangout</HashtagTrigger>
        </twitterRebuild>
      </indexUpdateStrategies>
      <configuration>
        <indexes>
          <index id="sitecore_web_index">
            <strategies>
              <strategy ref="contentSearch/indexUpdateStrategies/twitterRebuild" />
            </strategies>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>